//font imports
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
//vars 
$font-family: 'Josefin Sans', cwtexyen, sans-serif;
$regal-blue: #263E53;
$cello: #2F4E68;
$heather: #A0BACC;
$smoke: #F4F4F4;

// general
body {
  font-family: $font-family;
  line-height: 1.4;
}

//cv section
.cv {
  background-color: #fff;
  border-top: 5px solid $cello;
  max-width: 992px;
  margin-right: auto;
  margin-left: auto;
  padding: 30px 15px;
  box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.3);
}

// header 
.cv-header {
  margin-bottom: 50px;
}

.cv-header__img {
  width: 72px;
  height: 72px;
  border-radius: 100%;
  margin-right: 15px;
  display: inline-block;
  object-fit: cover;
}

.cv-header__text-container {
  text-align: left;
  vertical-align: middle;
  display: inline-block;
}

.cv-header__name {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0;
  color: $regal-blue;
}

.cv-header__job-title {
  color: #464646;
  font-size: 18px;
  margin-bottom: 0;
}

// section (main)
.cv-section {
  border-bottom: 1px solid $smoke;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.cv-section__title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  .fa-solid, .fas, .fa {
    margin-right: 2px;
    color: $heather;
    font-size: 25px;
  }
}

h2:first-letter{
    color: $heather;
    font-size: 25px;
  }

.cv-section__wrapper {
  transition: all .15s ease;
}

.cv-section__experience {
  margin-bottom: 25px;
}

.cv-section__role{
  font-size: 18.5px;
  margin-bottom: 0;
  font-weight: 600;  
}

.cv-section__description{
  font-size: 17px;
}

.cv-section__period {
  color: #6B6B6B;
  font-style: italic;
  margin-bottom: 0;
  font-size: 17px;
}

// sidebar section
.cv-sidebar-section {
  margin-bottom: 20px;
  ul{
    line-height: 30px;
    padding-left: 0;
    font-size: 17px;
  }
}

.cv-sidebar-section__title{
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}

h3{
  margin-left: 5px;
  font-size: 18px;
  font-weight: 500;
}

.cv-sidebar-section__description {
  font-size: 17px;
  margin-bottom: 0;
}
//tag 
.pri-tag {
  display: inline-block;
  padding: 5px;
  background: $cello;
  color: $smoke;
  margin: 5px;
  border-radius: 5px;
  font-size: 16px;
}

.sec-tag {
  display: inline-block;
  padding: 5px;
  background: $smoke;
  color: $cello;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid $cello;
  font-size: 16px;
}

// responsive
@media only screen and (min-width: 400px) {
  .cv-header__img {
    display: inline-block;
  }
}

@media only screen and (min-width: 768px) {
  body {
    background-color: $cello;
  }
  .cv-header__img {
    width: 90px;
    height: 90px;
    border-radius: 100%;
  }
  .cv-section {
    border-bottom: none;
    padding-bottom: 0;
    &:hover {
      .cv-section__wrapper {
        border-left-color: $heather;  
      }
    }
  }
  .cv-section__title {
    margin-bottom: 20px;
    .fa, .fas {
      margin-right: 9px;
    }
  }
  .cv-section__wrapper {
    border-left: 2px solid #eee;
    padding-left: 40px;
    padding-right: 40px;  
  }
}

@media only screen and (min-width: 992px) {
  .cv {
    border-top: none;
    border-radius: 2px; 
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 70px 50px;
  }
}

//pdf version
@media print {
  .cv {
    border-top: none;
  }
}